.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.login-list {
  position: relative;
  max-width: 250px;
  flex: 1 0 0;
  background: white;
  height: 100vh;
}

.create-login {
  padding-left: 20px;
  flex: 2 0 0;
}

h2 {
  margin-left: 10px;
}

.createButton {
  margin-right: 20px;
  position: absolute;
  right: 20px;
  bottom: 100px;
}
